.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;

}

.alternate {
    font-size: 36px;
    font-family: HelveticaNeue-Bold, "Helvetica Neue";
    font-weight: 700;
}

.transparent {
    opacity: 0.59;
}

.transparentblack {

    color: black;
}

img {
    width: 250px;
}

.box {
    margin: 10px;
    width: 200px;
    height: 50px;
    background: black;
    position: relative;
    text-align: center;
}

.scale:hover {
    transform: scale(1.5);
}

.containerwhite {
    width: 375px;
    height: relative;
    background: white;

}

.containerblue {
    width: 375px;
    height: relative;
    background: #DEEDFC
}

div.containerwhite {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

div.containerblue {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
}

h1 {
    width: 40%;
    margin: 10px;
    position: relative;
}

.bold {
    font-weight: bold;
    color: grey;

}

.blue {
    opacity: 0.59;
}

.space {
    position: relative;
    text-align: left;
    padding: 30px;
}

.smallspace {
    position: relative;
    text-align: left;
    padding: 5px;
    line-height: 5px;

}

label {
    font-family: helvetica;
    font-size: 14px;
    line-height: 20px;
}

.submit {
    background-color: black;
    color: white;
    width: 100px;
    height: 30px
}

h2 {
    font-family: helvetica;
    font-size: 18px;
    line-height: 10px;
    text-align: left;
    position: relative;
    letter-spacing: 1.5px;
    margin: 10px;
}

a {
    font-family: helvetica;
    font-size: 14px;
    line-height: 20px;
    margin: 10px;
}

h3 {
    font-family: helvetica;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    position: relative;
    max-width: 37ch;
    margin: 10px;
}

h4 {
    font-family: helvetica;
    font-weight: bold;
    letter-spacing: 1.5px;
    font-size: 16px;
    line-height: 20px;
    text-align: left;
    position: relative;
    max-width: 37ch;
    color: white;
    position: relative;
    margin: 10px;
}

h5 {
    font-family: helvetica;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    position: relative;
    max-width: 37ch;
    margin: 10px;
}

div.container {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}
