.clearfix::before,
.clearfix::after {
    content: ' ';
    display: table;
}

.clearfix::after {
    clear: both;

}

.alternate {
    font-size: 36px;
    font-family: HelveticaNeue-Bold, Helvetica Neue;
    font-weight: 700;
}

.transparent {
    opacity: 0.59;
}

.container {
    width: 375px;
    height: 535px;
    background: #DEEDFC
}

div.container {
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 0px;
}

h1 {
    width: 40%;
}

&:active {
    position: relative;
    top: 1px;
}

.button {
    display: inline-block;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 10px 10px;
    text-transform: uppercase;
    transition: 300ms;
}

&.outline {
    color: #DEEDFC overflow: hidden;
    position: relative;
}

&:before,
&:after,
.lines:before,
.lines:after {
    background-color: black;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform 300ms;
    width: 100%;
}

&:before {
    bottom: 0;
    top: auto;
}

.lines {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

&:before,
&:after {
    height: 100%;
    width: 2px;
}


&:after {
    left: auto;
    right: 0;
}

&:hover,
&:before {
    transform: translateX(-101%);
}

&:after {
    transform: translateX(101%);
}

.lines {
    before transform: translateY(-101%);
}

.lines {
    after transform: translateY(101%);
}

.button-holder {
    padding-top: 150px;
    text-align: left;
}

h2 {
    font-family: helvetica;
    font-size: 18px;
    line-height: 10px;
    text-align: left;
    position: relative;
    letter-spacing: 1.5px;
}

a {
    font-family: helvetica;
    font-size: 14px;
    line-height: 20px;
}

h3 {
    font-family: helvetica;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    position: relative;
    max-width: 37ch;
}

.container {
    width: 375px;
    height: 400px;
    background: #E0ECF8
}

div.container {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: black;
}
