h1 {
    font-family: Bodoni;
    color: #0B243B;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: 'DIN';
    color: #424242;
    font-weight: normal;
    font-size: 18px;
    text-align: left;
    position: relative;
    left: 150px;
    max-width: 45ch;
}

h3 {
    font-family: 'Bodoni';
    font-weight: bold;
    font-size: 18px;
    color: #0B243B;
    position: relative;
    left: 350px;
    top: 40px;

}

figcaption {
    font-family: 'Garamond';
    color: #424242;
    font-weight: normal;
    font-size: 12px;
    max-width: 40ch;
    position: relative;
    left: 350px;
    bottom: 130px;
}

img {
    width: 160px;
    height: auto;
    vertical-align: text-top;
    position: relative;
    left: 150px;
}

.container {
    width: 675px;
    height: 4400px;
    background: #E0ECF8 background-image: linear-gradient(to right, red, yellow);
}

div.container {
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
}
